.main-menu-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px) grayscale(.3);
}

.stage-menu-box {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 95vw;
    height: 85vh;
    margin: 4vh 0;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}

.main-menu-title {
    position: absolute;
    left: 5%;
    top: -8%;
    width: auto;
    height: auto;
    font-size: 4.1vw;
}

.start-button {
    position: absolute;
    right: 0%;
    bottom: -7%;
    border: none;
    font-size: 3.8vw;
    background: none;
    height: auto;
    width: auto;
    transition: transform 0.2s;
    outline: none;
}

.start-button:hover {
    transform: scale(1.2);
}

.start-button p {
    display: inline-block;
    color:white;
    vertical-align: middle;
}

.start-button ion-icon {
    display: inline-block;
    color: #3c40c6;
    font-size: 3.8vw;
    vertical-align: middle;
}