.back-div-filter {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px) grayscale(.3);
  transition: .5s backdrop-filter;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.back-button {
  position: absolute;
  left: 2%;
  top: 1%;
  border: none;
  font-size: 3rem;
  background: none;
  height: auto;
  width: auto;
  transition: transform 0.2s;
  outline: none;
}

.back-button:hover {
  transform: scale(1.2);
}

.back-button p {
  display: inline-block;
  color:white;
  vertical-align: middle;
}

.back-button ion-icon {
  display: inline-block;
  color: #3c40c6;
  font-size: 4rem;
  vertical-align: middle;
}