@keyframes slideIn {
    0% {transform: translateX(100vw)}
    100%{transform: translateX(0)}
}

.words-box {
    display:flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
    animation: slideIn 1s 1 ease-in;
}

.words-box button {
    font-size: 7rem;
    margin-top: 20vh;
}