.dropzone {
    position: relative;
    background-color: #05c46b;
    height: 80%;
    width: 80%;
    margin: .5vh 1vw;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}