.stage-phonic-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.stage-box,
.stage-box-error {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
    padding: 3px;
}

.stage-box p,
.stage-box-error p {
    width:100%;
    font-size: 14px;
    margin: auto auto 2px auto;
    text-align: left;
    color:grey;
}

@keyframes glow {
    0% {background-color: #ff3e3400;}
    50% {background-color: #ff3f34;}
    100% {background-color: #ff3e3400;}
}

.stage-box-error {
    background-color: #ff3f34;
    animation: glow .75s 2 ease-in-out;
}

.phonics-button {
    margin: 1vh 1vw;
    height: auto;
    width: auto;
    font-size: 15px;
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.05s;
    outline: none;
}

.phonics-button:hover {
    transform: scale(1.3);
}