.stage-phonic-list-box {
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    border: 1px solid white;
    margin: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.stage-box,
.stage-box-error {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.stage-box p,
.stage-box-error p {
    width:100%;
    font-size: 14px;
    margin: auto auto 2px auto;
    color:grey;
    text-align: left;
}

@keyframes glow {
    0% {background-color: #ff3e3400;}
    50% {background-color: #ff3f34;}
    100% {background-color: #ff3e3400;}
}

.stage-box-error {
    background-color: #ff3f34;
    animation: glow .75s 2 ease-in-out;
}

.stage-box-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.stage-box-flex-row p {
    text-align: center;
}

.phonics-button {
    margin: 10px;
    height: auto;
    width: auto;
    font-size: 20px;
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.05s;
    outline: none;
}

.phonics-button:hover {
    transform: scale(1.3);
}