@keyframes jump-incorrect {
    0% {transform: rotate(0);}
    25% {transform: rotate(5deg); filter: drop-shadow(5px 10px 2px)}
    50% {transform: rotate(-5deg); transform: translate(0,0);}
    75% {filter: drop-shadow(10px 20px 5px);}
    100% {transform: rotate(0); transform: translate(50vw, -50vh);}
}

@keyframes jump-correct {
    0% {transform: rotate(0);}
    25% {transform: rotate(5deg); filter: drop-shadow(5px 10px 2px);}
    50% {transform: rotate(-5deg); transform: translate(0,0);}
    75% {filter: drop-shadow(10px 20px 5px);}
    100% {transform: rotate(0); transform: translate(50vw, -50vh);}
}

@keyframes walk-correct {
    0% {transform: rotate(0); transform: translateX(0);}
    25% {transform: rotate(5deg); filter: drop-shadow(5px 10px 2px)}
    50% {transform: rotate(-5deg);}
    75% {filter: drop-shadow(10px 20px 5px);}
    100% {transform: rotate(0); transform: translateX(50vw);}
}

@keyframes walk-incorrect {
    0% {transform: rotate(0); transform: translateX(0);}
    25% {transform: rotate(5deg); filter: drop-shadow(5px 10px 2px)}
    50% {transform: rotate(-5deg);}
    75% {filter: drop-shadow(10px 20px 5px);}
    100% {transform: rotate(0); transform: translateX(50vw);}
}

.jump-correct {
    animation: jump-correct 2s 1;
}

.jump-incorrect {
    animation: jump-incorrect 2s 1;
}

.walk-correct {
    animation: walk-correct 2s 1;
}

.walk-incorrect {
    animation: walk-incorrect 2s 1;
}

.hero-box {
    position:absolute;
    bottom: 100px;
    left: 5vw;
}

.hero-box img {
    height: 200px;
    width: auto;
    filter: blur(2px) grayscale(.3);
    transition: filter 0.5s;
}

