.results-box {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 85vh;
    bottom: 0;
    margin: auto;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.results-inner {
    width: 80%;
    height: 80%;
    z-index: 1;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.815);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.result-box,
.result-box-inc {
    height: 300px;
    width: 200px;
    margin: 10px;
    background-color: white;
    padding: 10px 10px 15px 10px;
    overflow: auto;
    border: 3px solid #05c46b;
}

/* .result-box:hover,
.result-box-inc:hover {
    transform: scale(1.3);
    overflow: visible;
    height: 100%;
} */

.result-box-inc {
    border: 3px solid #ff3f34;
}

.result-stage-round {
    float: left;
}

.result-icon-c,
.result-icon-i {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.result-title {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.result-title::after {
    content: '';
    background: black;
    width: 90%;
    height: 1px;
    display: block;
    margin-left: 5%;
}

.result-answer,
.result-clicked,
.choice-list {
    padding: 3px;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: left;
    word-wrap: break-word;
}

.result-answer,
.result-clicked {
    background-color: rgb(90, 90, 90);
    color: white;
}

.choice-list {
    background-color: rgb(230, 230, 230);
}

.result-icon-i,
.result-icon-c {
    font-size: 20px;
}

.result-icon-c {
    color: #05c46b;
}

.result-icon-i {
    color:#ff3f34;
}

.choice-item:nth-child(odd) {
    background-color: rgb(199, 199, 199);
}

.choice-item {
    padding: 3px;
}