.topbar-box {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: auto;
    background: white;
    font-size: 3rem;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: 1px solid #d2dae2;
}

.topbar-box div {
    margin: auto;
    width: 98%;
    font-size: 3vw;
}

.topbar-box div::after {
    content: "";
    display: block;
    float: right;
    height: 4vh;
    width: 1%;
    background-color: black;
    margin-top: 2vh;
}

.topbar-box div:last-child::after {
    display: none;
}

.topbar-box ion-icon {
    font-size: 3vw;
    margin-right: 2vw;
    vertical-align: middle;
}

.topbar-box p {
    display: inline;
    font-size: 3vw;
    vertical-align: middle;
}

.topbar-box span {
    vertical-align: middle;
    font-size: 3vw;
}

.lives {
    color: #ff3f34;
}

.points {
    color: #3c40c6;
}

.stage {
    color: #ffd32a;
}

.time {
    color: #05c46b;
}
