.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.modal-box {
    position: absolute;
    top: 5vh;
    width: 100vw;
    height: 100vh;
}

.modal-back {
    width: auto;
    border-radius: 20px;
}

.message {
    color: black;
    font-size: 3rem;
    width: auto;
    height: auto;
    padding: 25px;
}