.footer-box {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 2%;
    left: 2%;
    display: flex;
    flex-direction: row;
    background: rgba(161, 161, 161, 0.432);
}

.footer-item {
    width: auto;
    height: auto;
    margin: 10px;
    color: white;
}

/* #popover-footer {
    
}

#popover-footer h3 {
    background: white;
} */