.message-back {
    position: absolute;
    bottom: -100%;
    /* background-color: royalblue; */
    margin: auto auto auto -12.5%;
    width: 25%;
    height: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.message {
    margin: auto;
    color: black;
    font-size: 25px;
    width: auto;
    height: auto;
}