/* .modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    align-items: center;
} */

.modal-box {
    margin: auto;
    width: auto;
    height: auto;
}

.modal-back {
    /* background-color: rgba(255, 255, 255, 0.534); */
    position: absolute;
    top: 30px;
    margin: auto;
    width: 100vw;
    height: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    margin: auto;
    color: black;
    font-size: 25px;
    width: auto;
    height: auto;
    padding: 25px;
}